{{#each courses}}

  <div class="grid-item">
    <img class="course-image" src={{this.image}} alt="" />
    <br /><br />
    <p class="bold">{{this.name}}</p>
    <br />
    <p>{{this.content}}</p>
  </div>

{{/each}}