{{#each courses}}

  <div class="grid-item">
    <img class="course-image" src="/images/yoga-position.png" alt="" />
    <br /><br />
    <p class="bold">Heading Here</p>
    <br />
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>

{{/each}}