<footer class="align">
    <div class="half right">
        <h6>Copyright © 2022 | Happiness Valley</h6>
    </div>
    <div class="half left">
        <h5>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a> | 
            <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a> |
            <a href="https://www.twitter.com/"><i class="fab fa-twitter-square"></i></a> |
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a> |
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        </h5>
    </div>
</footer>