<header class="align">
  <div class="logo">
    <div class="align"><img src="/images/logoRound.png" alt="" /></div>
  </div>
    <menu>
      <a href=""><h5>HOME</h5></a>
      <a href=""><h5>ABOUT</h5></a>
      <a href=""><h5>CONTACT</h5></a>
      <a href=""><h5>SHOP</h5></a>
    </menu>
</header>