<header class="align">
  <div class="logo">
    <a href="/">
      <div class="align"><img src="/images/logoRound.png" alt="" /></div>
    </a>
  </div>
  <menu>
    <a href="/"><h5>HOME</h5></a>
    <a href=""><h5>|</h5></a>
    <a href="/about"><h5>ABOUT</h5></a>
    <a href=""><h5>|</h5></a>
    <a href="/contact"><h5>CONTACT</h5></a>
    <a href=""><h5>|</h5></a>
    <a href="/courses"><h5>COURSES</h5></a>
    <a href=""><h5>|</h5></a>
    <a href="/shop"><h5>SHOP</h5></a>
  </menu>
</header>