<section class="align subHero">
  <h1>{{lookup hero "heading"}}</h1>
</section>

<div class="space"></div>

<section class="align sub-hero-content">
  <div>
    <h3 class="bold">{{lookup hero "content"}}</h3>
  </div>
</section>