<section class="align subHero">
    <div class="inner-div">
      <h1>{{lookup hero "heading"}}</h1>
      <br /><br /><hr /><br /><br />
      <h6>{{lookup hero "content"}}</h6>
    </div>
</section>