{{#each testimonials}}

<div class="align swiper-slide">
  <div>
    <h5>
      {{this.content}}
    </h5><br /><br />
    <img class="image-width" src={{this.image}} alt="" />
    <br />
    <h4 class="bold">{{this.name}}</h4>
  </div>
</div>

{{/each}}