{{> subHero}}

<div class="space"></div>

<section class="secTwo">
  <div>
    <img src="/images/quote.png" alt="">
    <br><br>
    <h3 class="bold">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, unde mollitia.</h3>
  </div>
</section>

<div class="space"></div>

<section class="secThree">
<div class="image-container">
    <img src="/images/sample.jpg" alt="">
</div>
<br><br><br>
<div class="grid-container">
    <div class="grid-item">
        <h5 class="bold">Our Vision</h5>
        <br><br>
        <img src="/images/quote.png" alt="">
        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis cumque minima quo esse officiis odio explicabo adipisci iusto laudantium!</p>
    </div>
    <div class="grid-item">
        <h5 class="bold">Our Mission</h5>
        <br><br>
        <img src="/images/quote.png" alt="">
        <br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis cumque minima quo esse officiis odio explicabo adipisci iusto laudantium!</p>
    </div>
</div>
</section>

<div class="space"></div>

<section class="secFour">
    <video controls>
      <source src="/videos/sampleVideo.mp4" type="video/mp4">
    </video>
    <br><br><br><br>
    <hr>
    <br><br>
    <div class="inner-div">
        <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta cupiditate laudantium odit corporis, mollitia, suscipit necessitatibus doloremque aspernatur voluptatibus libero id quis quas. Rerum, cupiditate!</h6>
    </div>
</section>

<div class="space"></div>