{{> subHero}}

<div class="space"></div>

<section class="secTwo">
    <div class="align">
  <div class="half right">
    <h3 class="bold">Have Any Question?</h3>
    <br><br><hr><br><br>
    <img src="/images/letter.png" alt="">
    <br><br><br><br>
    <h6 class="bold">E-Mail : example@email.com</h6>
    <h6 class="bold">Phone : +91 - 8877665544</h6>
  </div>
  <div class="half left">

    <form action="/" method="post">
      <input type="text" name="fullName" placeholder="Name *" required><br><br>
      <input type="email" name="email" placeholder="E-Mail *" required><br><br>
      <input type="number" name="phone" placeholder="Phone"><br><br>
      <textarea name="message" id="" cols="30" rows="10"  placeholder="Message"></textarea><br><br>
      <input type="submit" class="form-button" value="SUBMIT">
    </form>

  </div>
  </div>
</section>

<div class="space"></div>