<section class="hero">
  <section class="overlay align">
    <div class="half right">
      <h1>Happiness <br /> Valley</h1>
      <br /><br /><hr /><br /><br />
      <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, unde
        mollitia repudiandae suscipit libero eaque iure dolores reprehenderit
        minima doloremque sed, aliquam quam qui maiores.</h6>
    </div>
    <div class="half left"></div>
  </section>
</section>

<div class="space"></div>

<section class="secTwo align">
  <div class="half right">
    <img src="/images/pageOne2.png" alt="" />
  </div>
  <div class="half left">
    <h2>Featured Courses</h2>
    <br /><br /><br /><hr /><br /><br /><br />

    <div class="grid-container">

      {{> courceSlides}}

    </div>
  </div>
</section>

<div class="space"></div>

<section class="secThree">
  <div class="space"></div>
  <h2>Hear Our Clients Say</h2>
  <br /><br /><br /><hr /><br /><br /><br />
  <section class="swiper-section">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        {{> testimonialSlides}}

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  <div class="space"></div>
</section>

<div class="space"></div>

<section class="secFour">
  <div class="align">
  <div class="half right">
    <h2>About Us</h2>
    <br><br>
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dignissimos, hic, quae sed natus minus placeat quidem enim aperiam nulla quia quis cum rerum consequatur illo aliquam? Debitis vel sunt, optio rerum repellat maiores fugiat esse commodi incidunt, nesciunt nulla. Laborum, voluptate ratione maiores repellendus cupiditate corporis nam quasi totam.</h6>
  </div>
  <div class="half left">
    <video width="500" height="300" controls>
      <source src="/videos/sampleVideo.mp4" type="video/mp4">
    </video>
  </div>
  </div>
</section>

<div class="space"></div>

<section class="secFive">
  <div class="space"></div>
  <h2>Our Products</h2>
  <br><br><hr><br><br>
  <div class="grid-container">

    {{> ecommerceSlides}}
  
  </div>
  <div class="space"></div>
</section>

<div class="space"></div>

<section class="secSix">
  <div class="align">
  <div class="half right">
    <h2>Contact Us</h2>
    <br><br><hr><br><br>
    <img src="/images/letter.png" alt="">
    <br><br><br><br>
    <h6 class="bold">E-Mail : example@email.com</h6>
    <h6 class="bold">Phone : +91 - 8877665544</h6>
  </div>
  <div class="half left">

    <form action="/" method="post">
      <input type="text" name="fullName" placeholder="Name *" required><br><br>
      <input type="email" name="email" placeholder="E-Mail *" required><br><br>
      <input type="number" name="phone" placeholder="Phone"><br><br>
      <textarea name="message" id="" cols="30" rows="10"  placeholder="Message"></textarea><br><br>
      <input type="submit" class="form-button" value="SUBMIT">
    </form>

  </div>
  </div>
</section>

<div class="space"></div>