<section class="hero">
  <section class="overlay align">
    <div class="half right">
      <h1>Happiness <br /> Valley</h1>
      <br /><br /><hr /><br /><br />
      <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, unde
        mollitia repudiandae suscipit libero eaque iure dolores reprehenderit
        minima doloremque sed, aliquam quam qui maiores.</h6>
    </div>
    <div class="half left"></div>
  </section>
</section>

<div class="space"></div>

<section class="secTwo align">
  <div class="half right">
    <img src="/images/pageOne2.png" alt="" />
  </div>
  <div class="half left">
    <h2>Heading Here</h2>
    <br /><br /><br /><hr /><br /><br /><br />
    <table>

      <tr>
        <td>
          <img src="/images/yoga-position.png" alt="" />
          <br /><br />
          <p class="bold">Heading Here</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </td>
        <td>
          <img src="/images/yoga-position.png" alt="" />
          <br /><br />
          <p class="bold">Heading Here</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </td>
        <td>
          <img src="/images/yoga-position.png" alt="" />
          <br /><br />
          <p class="bold">Heading Here</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </td>
      </tr>

      <tr>
        <td>
          <img src="/images/yoga-position.png" alt="" />
          <br /><br />
          <p class="bold">Heading Here</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </td>
        <td>
          <img src="/images/yoga-position.png" alt="" />
          <br /><br />
          <p class="bold">Heading Here</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </td>
        <td>
          <img src="/images/yoga-position.png" alt="" />
          <br /><br />
          <p class="bold">Heading Here</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </td>
      </tr>

      <tr>
        <td>
          <img src="/images/yoga-position.png" alt="" />
          <br /><br />
          <p class="bold">Heading Here</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </td>
        <td>
          <img src="/images/yoga-position.png" alt="" />
          <br /><br />
          <p class="bold">Heading Here</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </td>
        <td>
          <img src="/images/yoga-position.png" alt="" />
          <br /><br />
          <p class="bold">Heading Here</p>
          <br />
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </td>
      </tr>

    </table>
  </div>
</section>

<div class="space"></div>

<section class="secThree">
  <div class="space"></div>
  <h2>Hear Our Clients Say</h2>
  <br /><br /><br /><hr /><br /><br /><br />
  <section class="swiper-section">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"> <p> Slide 1 </p></div>
        <div class="swiper-slide"> <p> Slide 2 </p></div>
        <div class="swiper-slide"> <p> Slide 3 </p></div>
        <div class="swiper-slide"> <p> Slide 4 </p></div>
        <div class="swiper-slide"> <p> Slide 5 </p></div>
        <div class="swiper-slide"> <p> Slide 6 </p></div>
        <div class="swiper-slide"> <p> Slide 7 </p></div>
        <div class="swiper-slide"> <p> Slide 8 </p></div>
        <div class="swiper-slide"> <p> Slide 9 </p></div>
        <div class="swiper-slide"> <p> Slide 10 </p></div>
        <div class="swiper-slide"> <p> Slide 11 </p></div>
        <div class="swiper-slide"> <p> Slide 12 </p></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  <div class="space"></div>
</section>

<div class="space"></div>