/* Open Sans Font Below */
@import url("https://bit.ly/3ffwpQ4");

/* Mollie Glaston Font Below */
@import url("../fonts/downloadedFonts.css");

:root {
  --heading-font: "Mollie Glaston";
  --text-font: "Open Sans";
}

h1 {
  font-family: var(--heading-font);
  font-size: 7rem;
  font-weight: normal;
}

h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: normal;
  color: teal;
}

h5,
h6 {
  font-family: var(--text-font);
  font-weight: normal;
  font-size: 1.25rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-family: var(--text-font);
  font-size: 1rem;
}

form textarea, form input {
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: bold;
}

.form-button {
  font-family: var(--text-font);
  font-size: 1.25rem;
}