/* Hero Secion */

.hero hr {
  border: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

.hero {
  background-image: url("../images/pageOne1.png");
  background-position: center;
  background-size: cover;
  height: 125vh;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0 0 25% 0;
}

.overlay {
  height: 125vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 25% 0;
}

/* Section Two */

.secTwo hr {
  border: 0;
  border-top: 10px dotted rgba(0, 128, 128, 0.25);
  width: 10%;
  margin: auto;
}

.secTwo .right img {
  width: 100%;
}

.secTwo .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
}

.secTwo .left {
  text-align: center;
}

.course-image {
  width: 50%;
}

/* Section Three */

.secThree {
  background-color: rgb(230, 230, 230);
  text-align: center;
}

.secThree hr {
  border: 0;
  border-top: 10px dotted rgba(0, 128, 128, 0.25);
  width: 5%;
  margin: auto;
}

.secThree .swiper-section {
  height: 50vh;
}

.secThree .swiper {
  width: 80%;
  padding: 50px;
}

.secThree .swiper-slide {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 0 25px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.secThree .swiper-slide img {
  width: 15%;
  border-radius: 50%;
}

/* Section Four */

.secFour hr {
  border: 0;
  border-top: 10px dotted rgba(0, 128, 128, 0.25);
  width: 10%;
  margin: auto;
}

/* Section Five */

.secFive {
  background-color: rgb(230, 230, 230);
  text-align: center;
}

.secFive hr {
  border: 0;
  border-top: 10px dotted rgba(0, 128, 128, 0.25);
  width: 5%;
  margin: auto;
}

.secFive .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 80%;
  margin: auto;
  gap: 1.5rem;
}

.secFive .grid-item {
  border: 1px solid black;
  padding: 25px;
}

.image-div img {
  width: 100%;
}

/* Section Six */

.secSix {
  text-align: center;
}

.secSix hr {
  border: 0;
  border-top: 10px dotted rgba(0, 128, 128, 0.25);
  width: 15%;
  margin: auto;
}

.secSix img {
  width: 50%;
  opacity: 0.5;
}
