@import url("fonts.css");
@import url("scrollbar.css");
@import url("partials.css");
@import url("transition.css");

* {
  margin: 0;
  padding: 0;
}

.space {
  height: 25vh;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.half {
  width: 40%;
  margin: auto;
}

.primary-button {
  background-color: teal;
  color: white;
  padding: 5px;
  border: 2px solid teal;
  border-radius: 5px;
  transition: 0.5s;
}

.primary-button:hover {
  background: transparent;
  color: teal;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

form input,
form textarea {
  padding: 5px 15px;
  border: 1px solid teal;
  border-radius: 25px;
  background-color: rgb(230, 230, 230);
}

form input {
  width: 300px;
}

form input,
form textarea:focus {
  outline: inherit;
}

.form-button {
  background-color: teal;
  color: white;
}

.form-button:hover {
  background: transparent;
  color: teal;
  cursor: pointer;
}